<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="TrustedAuthentication"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpdateService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://kx.guangray.com:9099//UpdateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateService" contract="ServiceUpdate.IUpdateService" name="BasicHttpBinding_IUpdateService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
